<div class="card-list-container py-5 text">
  <h2 class="text-center text" style="border-bottom: 5px solid #a9dce1;">退会お手続き</h2>
    <div class="card w-50 mx-auto mt-4 shadow-lg text">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <p class="card-title">
              退会手続きをされますと、全てのサービスがご利用いただけなくなります。<br>
              再度ご利用をいただく場合には、新規登録のお手続きが必要になります。<br>
              本当に退会してよろしいですか？
            </p>
            <p class="card-title">
              <div style="display: flex; justify-content: center;">
                <%= button_to "退会する", user_withdrawal_path, method: :patch, data: { confirm: "本当に退会しますか？" }, class: "button-style", style: "margin-right: 10px;" %>
                <%= button_to "退会しない", user_user_path(current_user), class: "button-style" %>
              </div>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
            






