<h2>フォロワー一覧</h2>

<table>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user_user_path(user) %></td>
      </tr>
    <% end %>
    <%= paginate @users %>
  </tbody>
</table>