
<head>
  <style>


    .pagination-container {
      display: flex;
      justify-content: center;
      margin-top: 35px;
    }
    
    .text {
      color: gray;
    }
  </style>
</head>



<div class="card-list-container py-5 text">
  <h2 class="text-center text" style="border-bottom: 5px solid #a9dce1;">フォロワー一覧</h2>
  <div class="card w-50 mx-auto mt-4 shadow-lg text">
    <% @users.each do |user| %>
      <div class="card-body">
        <div class="row">
          <div class="col-2">
            <%= image_tag user.get_profile_image(100,100), style: "border-radius: 50%;" %>
          </div>
          <div class="col-10">
            <p class="card-title">
              <%= link_to user.name, user_user_path(user) %>
            </p>
            <p class="card-title">
              <%= user.introduction %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="pagination-container">
  <%= paginate @users %>
</div>