<head>
  <style>
.three_buttons {
      animation: slideIn 1s cubic-bezier(0.25, 1, 0.5, 1) forwards;
    }

    @keyframes slideIn {
      0% {
        transform: translateX(180px);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
      }
      40%,100% {
        opacity: 1;
      }
    }
    
    .gradient-bg {
    background-image: linear-gradient(to right, #F79DA9, #F93D5D);
    color: white
    }
    
    h1.gradient-bg {
      margin-top: 35px;
      margin-bottom: 35px;
    }
    
    h4 {
    color: gray;
    margin-bottom: 40px;
    }
    
    .btn-wrapper {
      margin-top: 90px;
      
    }
    
    </style>
</head>




<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-6 col-xl-6">
       <h1 class="gradient-bg">気ままにクラシック評論</h1>
      <h4>ここは、映画館や美術館に行った後のカフェのように気ままに語り合える場所を。という想いから生まれました。<br>
      さまざまな人とデジタル空間でオープンに、思いっきりクラシック音楽の感動を分かち合いましょう！
      </h4>
      <p></p>
    </div>
    
    <div class="col-lg-6 col-xl-6 three_buttons">
      <div class="btn-wrapper col-10 mx-auto flex-column align-items-center">
        <div class="row">
          <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block rounded-pill mb-3 sign_in", method: :post %>
        </div>
        <div class="row">
          <%= link_to 'Log in', new_user_session_path, class: "btn btn-info btn-sm btn-block rounded-pill mb-3 sign_in" %>
        </div>
        <div class="row">
          <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-success btn-sm btn-block rounded-pill sign_up" %>
        </div>
      </div>
    </div>
  </div>
</div>