



<div class="card-list-container py-5">
  <% @posts.each do |post| %>
    <%= render 'user/posts/posts_list', post: post %>
  <% end %>
  <div class="pagination-container">
    <%= paginate @posts %>
  </div>

</div>